/* Temporary */

/*div {
  border: 1px solid white;
}*/

/* General */

body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  background-color: black;
  padding: 0;
  margin: 0;
}

a {
  color: seashell;
}

.text-content {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
  height: 125px;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid seashell;
  padding-top: 5px;
  margin: auto;
  background-color: black;
}

nav span {
  display: inline-block;
  padding: 10px 30px 10px 0;
  margin-right: 10px;
  text-decoration: underline;

}

.logo {
  display: flex;
  flex-grow: 1;
  height: 69px;
  margin: auto;
  padding: 0;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  padding-top: 5px;
  margin: 0;
}

/* Main Content Container */

.content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 2000px;
  margin: auto;
  padding-top: 75px;
}

/* Top Section */

.top.section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}

/* Middle Section */

.middle.section .text-content {
  padding-top: 80px;
}

/* .middle.section .image-content {
  display: inline-block;
}

.image {
  width: 300px;
  height: 200px;
  margin: 15px;
  padding-bottom: 40px;
} */

figure {
  display: inline-block;
}

img {
  display: inline-block;
  padding-bottom: 10px;
  margin: auto;
}

figure img {
  width: 300px;
  height: 200px;
}

/* Bottom Section*/

.bottom.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  padding-bottom: 110px;
}

.square {
  display: inline-flex;
  justify-content: space-around;
  height: 300px;
  padding-bottom: 50px;
}

.square-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  background-color: black;
}

.text {
  padding-top: 40px;
  color: seashell;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  height: 200px;
  padding-bottom: 40px;
}

/* Copyright */

.copyright {
  text-align: left;
  padding-left: 20px;
}
